@model CutTime.Domain.Models.User

@{
    Layout = "_Login_Layout";
}

<div class="login-box-body">
    <p class="login-box-msg">Inicia sesión</p>

    <div asp-validation-summary="ModelOnly"></div>

    <form asp-controller="Authentication" asp-action="Login" method="post">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" asp-for="Email" placeholder="Correo">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" asp-for="Password" placeholder="Contraseña">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="row">
@*            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                </div>
            </div><!-- /.col -->*@
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar sesión</button>
            </div><!-- /.col -->
        </div>
    </form>
    </br>

    @*<a href="#">I forgot my password</a><br>*@
    <div>
        ¿No tiene una cuenta? <a asp-area="" asp-controller="Authentication" asp-action="Register" class="text-center">Cree una.</a>
    </div>
    

</div><!-- /.login-box-body -->


@section scripts {

}