@{
    ViewData["Title"] = "Home Page";
}


<section class="content-header">
    <h1>
        Inicio
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="active">Inicio</li>
    </ol>
</section>

<main role="main" class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@ViewBag.Appointments</h3>
                        <p>Citas</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-calendar"></i>
                    </div>
                    <div class="small-box-footer"></div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@ViewBag.Clients</h3>
                        <p>Clientes</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <div class="small-box-footer"></div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@ViewBag.Barbers</h3>
                        <p>Barberos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-scissors"></i>
                    </div>
                    <div class="small-box-footer"></div>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
    </div>
</main>

@section styles{
    <style>
        .small-box-footer {
            padding: 8px !important;
        }
    </style>
}